In [1]:
import pandas as pd

df = pd.read_csv('sudoku.csv')

# Randomly sample 2000 rows without replacement
sampled_df = df.sample(n=2000, random_state=42)


sampled_df.to_csv('new_sudoku_test.csv', index=False)

# Display the first few rows
sampled_df.head()

,quizzes,solutions
987231,0040000087002090060100804508000605000790040010...,6245137987852493169137864528329615475793248614...
79954,0169040070040300800030619205091408001700000000...,2169845379542376817835619245691438721726584933...
567130,0502090003007600020000410891040500700061725000...,8512394673497681526725413891248569739361725487...
500891,0630075005000060010804200900900402052046080001...,9631875245429368717814253968973412652546789131...
55399,0902001060045000071700800300050340188009503000...,5982731462345618971764895329256347188179523644...